<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<!--<a routerLink="/users">List Users</a>
<a style="margin-left:10px" routerLink="/user/add">Add User</a> -->

<a style="margin-left:10px" routerLink="/account">List Accounts</a>
<a style="margin-left:10px" routerLink="/account/add">Add Account</a>

<a style="margin-left:10px" routerLink="/payment">List Payments</a>
<a style="margin-left:10px" routerLink="/payment/add">Add Payment</a>
<br/>
<router-outlet></router-outlet>
</div>

